@page
@model ChangePasswordModel
@{
ViewData["Title"] = "Смена пароля";
ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h2 style="text-align: center">Смена пароля</h2>
<p class="text-secondary mb-1" style="text-align: center">Убедитесь, что новый пароль соответствует требованиям безопасности</p>
<div class="container mt-1">
    <partial name="_StatusMessage" for="StatusMessage" />

    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

        <div class="input-group mb-3">
            <label asp-for="Input.OldPassword" class="form-label">Текущий пароль</label>
            <input asp-for="Input.OldPassword" class="form-input" autocomplete="current-password" aria-required="true" placeholder="Введите текущий пароль" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Input.NewPassword" class="form-label">Новый пароль</label>
            <input asp-for="Input.NewPassword" class="form-input" autocomplete="new-password" aria-required="true" placeholder="Введите новый пароль" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>

        <div class="input-group mb-4">
            <label asp-for="Input.ConfirmPassword" class="form-label">Подтверждение пароля</label>
            <input asp-for="Input.ConfirmPassword" class="form-input" autocomplete="new-password" aria-required="true" placeholder="Повторите новый пароль" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Обновить пароль</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
