@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Настройка приложения-аутентификатора";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>Настройка аутентификатора</h3>
<div>
    <p>Следуйте шагам ниже, чтобы привязать приложение</p>
    <ol class="list">
        <li>
            <p>
                Установите приложение-аутентификатор, например:
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                или Google Authenticator для
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Отсканируйте QR-код или введите ключ: <kbd>@Model.SharedKey</kbd> в вашем приложении для двухфакторной аутентификации. Пробелы и заглавные буквы не имеют значения.</p>
            <div class="alert alert-info">Узнайте <a href="https://go.microsoft.com/fwlink/?Linkid=852423">как включить генерацию QR-кода</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Как только вы отсканируете QR-код или введете указанный выше ключ, приложение для двухфакторной аутентификации предоставит вам
                уникальный код. Введите код в поле подтверждения ниже.
            </p>
            <div class="row">
                <div class="col mx-auto">
                    <form id="send-code" method="post">
                        <div class="input-group mb-3">
                            <label asp-for="Input.Code" class="form-label">Код подтверждения</label>
                            <input asp-for="Input.Code" class="form-input" autocomplete="off" placeholder="Введите код подтверждения"/>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Подтвердить</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
