@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Генерация кодов восстановления для двухфакторной аутентификации";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Спрячьте эти коды в надежном месте.</strong>
    </p>
    <p>
        Если вы потеряете свое устройство и у вас не будет кодов для восстановления, вы потеряете доступ к своей учетной записи.
    </p>
    <p>
        Создание новых кодов восстановления не изменяет ключи, используемые в приложениях для проверки подлинности. Если вы хотите изменить ключ
        , используемый в приложении для проверки подлинности, вам следует <a asp-page="./ResetAuthenticator">сбросить свои ключи для проверки подлинности.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Генерировать коды восстановления</button>
    </form>
</div>
