@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Вход через код восстановления";
}

<div class="container mt-5">
    <div class="header">
        <h1>@ViewData["Title"]</h1>
        <p>
            Вы запросили вход в систему с кодом восстановления. Этот логин не будет сохранен до тех пор, пока вы не введете
            код приложения для проверки подлинности при входе в систему или не отключите 2FA и не войдете снова.
        </p>
    </div>
    <div class="filters-card mx-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-group">
                <label asp-for="Input.RecoveryCode" class="form-label">Код восстановления</label>
                <input asp-for="Input.RecoveryCode" class="form-input" autocomplete="off" placeholder="Введите код"/>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class=" btn btn-primary w-100">Вход</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}