@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="container mt-5">
    <div class="header">
        <h1>@ViewData["Title"]</h1>
        <p>Ваш аккаунт защищен с помощью приложения для проверки подлинности. Введите свой код для проверки подлинности ниже.</p>
    </div>
    <div class="filters-card mx-auto">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-group">
                <label asp-for="Input.TwoFactorCode" class="form-label">Код приложения</label>
                <input asp-for="Input.TwoFactorCode" class="form-input" autocomplete="off"/>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="Input.RememberMachine" />
                <label class="form-check-label" asp-for="Input.RememberMachine">Запомнить на этом компьютере</label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">Вход</button>
            </div>
            <div>
                <p>
                    У вас нет доступа к вашему устройству аутентификации? Ты можешь
                    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">войти в систему с кодом восстановления</a>.
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}