@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="filters-card p-4 text-center" style="min-width: 400px; max-width: 600px;">
        <h2 class="mb-3">Пароль был сброшен</h2>
        <p class="text-secondary">
            Мы сбросили пароль вашей учетной записи. Пожалуйста <a asp-page="./Login">нажмите здесь, чтобы войти</a>.
        </p>
    </div>
</div>
